@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content h-100 px-0 py-0" style="padding: 0 !important;">
            @Body
        </div>

    </div>
</div>
